* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrap {
	width: 100%;
	height: 300px;
	overflow-y: hidden;
	user-select: none;
}

.simple {
	width: 100%;
	height: 30px;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: rgb(77, 127, 201);
}

.simple > * {
	height: 20px;
	width: fit-content;
	text-align: center;
	line-height: 20px;
	color: #fff;
	padding: 0 5px;
	margin: 0 5px;
	transition: 0.2s;
}

.simple > *:hover {
	background-color: rgb(141, 180, 240);
}

.change {
	right: 70px;
}

.delete {
	right: 20px;
}

.list {
	width: 100%;
	height: calc(100% - 30px);
	margin-top: 30px;
	display: flex;
}

.list_left {
	position: fixed;
	top: 30px;
	left: 0;
	width: 90px;
	height: 100%;
	background-color: rgba(32, 115, 224, 0.55);
}

.list_left > label {
	width: 100%;
	height: 30px;
	display: inline-block;
	padding-left: 10px;
	font-size: 11px;
	line-height: 30px;
	color: #fff;
	cursor: pointer;
}

.list_left > label:hover {
	background-color: rgba(77, 127, 201, 0.95);
}

.list_left > label:last-child {
	/* border-bottom: 0px; */
}

.list_right {
	margin-left: 90px;
	width: calc(100% - 90px);
	overflow-y: scroll;
}

.list_right > div > div:last-child {
	/* border-bottom: 0px; */
}

.lr_list {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #222;
	padding: 10px;
}

.lr_list:hover {
	background-color: rgb(243, 243, 243);
}

.dataValue {
	flex-grow: 1;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.dataValue > div {
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dataValue > div > a {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

.list_right label {
	display: inline-block;
	width: 200px;
}

.keyword_data {
	display: none;
}

.keyword_radio:checked + label {
	font-weight: bold;
	background-color: rgb(77, 127, 201);
}
